<RuleSet Name="Diagnostics Ruleset"
         Description="Diagnostics Ruleset"
         ToolsVersion="14.0">

    <!-- Define all the analyzer rule actions for this repo. -->
    <Include Path="CodeAnalysis.Repository.ruleset" Action="Default" />

    <!-- This will override or define all rules needed values to be SDL compliant. -->
    <Include Path="CodeAnalysis.Security.ruleset" Action="Default" />
</RuleSet>
