<?xml version="1.0"?>
<RuleSet Name="Microsoft SDL Roslyn Rules - v9.1"
         Description="Microsoft SDL Roslyn Rules - v9.1"
         ToolsVersion="14.0">

  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA2301" Action="Error" />          <!-- Do not call BinaryFormatter.Deserialize without first setting BinaryFormatter.Binder -->
    <Rule Id="CA2302" Action="Error" />          <!-- Ensure BinaryFormatter.Binder is set before calling BinaryFormatter.Deserialize -->
    <Rule Id="CA2305" Action="Error" />          <!-- Do not use insecure deserializer LosFormatter -->
    <Rule Id="CA2311" Action="Error" />          <!-- Do not deserialize without first setting NetDataContractSerializer.Binder -->
    <Rule Id="CA2312" Action="Error" />          <!-- Ensure NetDataContractSerializer.Binder is set before deserializing -->
    <Rule Id="CA2315" Action="Error" />          <!-- Do not use insecure deserializer ObjectStateFormatter -->
    <Rule Id="CA2321" Action="Error" />          <!-- Do not deserialize with JavaScriptSerializer using a SimpleTypeResolver -->
    <Rule Id="CA2327" Action="Error" />          <!-- Do not use insecure JsonSerializerSettings -->
    <Rule Id="CA2328" Action="Error" />          <!-- Ensure that JsonSerializerSettings are secure -->
    <Rule Id="CA2329" Action="Error" />          <!-- Do not deserialize with JsonSerializer using an insecure configuration -->
    <Rule Id="CA2330" Action="Error" />          <!-- Ensure that JsonSerializer has a secure configuration when deserializing -->
    <Rule Id="CA3061" Action="Error" />          <!-- Do Not Add Schema By URL -->
    <Rule Id="CA5350" Action="Error" />          <!-- Do Not Use Weak Cryptographic Algorithms -->
    <Rule Id="CA5351" Action="Error" />          <!-- Do Not Use Broken Cryptographic Algorithms -->
    <Rule Id="CA5358" Action="Error" />          <!-- Review cipher mode usage with cryptography experts -->
    <Rule Id="CA5361" Action="Error" />          <!-- Do Not Disable SChannel Use of Strong Crypto -->
    <Rule Id="CA5364" Action="Error" />          <!-- Do Not Use Deprecated Security Protocols -->
    <Rule Id="CA5378" Action="Error" />          <!-- Do not disable ServicePointManagerSecurityProtocols -->
    <Rule Id="CA5397" Action="Error" />          <!-- Do not use deprecated SslProtocols values -->
    <Rule Id="CA2322" Action="Info" />           <!-- Ensure JavaScriptSerializer is not initialized with SimpleTypeResolver before deserializing -->
    <Rule Id="CA3001" Action="Info" />           <!-- Review code for SQL injection vulnerabilities -->
    <Rule Id="CA3002" Action="Info" />           <!-- Review code for XSS vulnerabilities -->
    <Rule Id="CA3003" Action="Info" />           <!-- Review code for file path injection vulnerabilities -->
    <Rule Id="CA3004" Action="Info" />           <!-- Review code for information disclosure vulnerabilities -->
    <Rule Id="CA3005" Action="Info" />           <!-- Review code for LDAP injection vulnerabilities -->
    <Rule Id="CA3006" Action="Info" />           <!-- Review code for process command injection vulnerabilities -->
    <Rule Id="CA3007" Action="Info" />           <!-- Review code for open redirect vulnerabilities -->
    <Rule Id="CA3008" Action="Info" />           <!-- Review code for XPath injection vulnerabilities -->
    <Rule Id="CA3009" Action="Info" />           <!-- Review code for XML injection vulnerabilities -->
    <Rule Id="CA3010" Action="Info" />           <!-- Review code for XAML injection vulnerabilities -->
    <Rule Id="CA3011" Action="Info" />           <!-- Review code for DLL injection vulnerabilities -->
    <Rule Id="CA3012" Action="Info" />           <!-- Review code for regex injection vulnerabilities -->
    <Rule Id="CA5359" Action="Info" />           <!-- Do Not Disable Certificate Validation -->
    <Rule Id="CA5380" Action="Info" />           <!-- Do Not Add Certificates To Root Store -->
    <Rule Id="CA5381" Action="Info" />           <!-- Ensure Certificates Are Not Added To Root Store -->
    <Rule Id="CA5386" Action="Info" />           <!-- Avoid hardcoding SecurityProtocolType value -->
    <Rule Id="CA5391" Action="Info" />           <!-- Use antiforgery tokens in ASP.NET Core MVC controllers -->
    <Rule Id="CA5395" Action="Info" />           <!-- Miss HttpVerb attribute for action methods -->
    <Rule Id="CA5396" Action="Info" />           <!-- Set HttpOnly to true for HttpCookie -->
    <Rule Id="CA5398" Action="Info" />           <!-- Avoid hardcoded SslProtocols values -->
  </Rules>

  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA2153" Action="Error" />          <!-- Do Not Catch Corrupted State Exceptions -->
    <Rule Id="CA3075" Action="Error" />          <!-- Insecure DTD processing in XML -->
    <Rule Id="CA3147" Action="Error" />          <!-- Mark Verb Handlers With Validate Antiforgery Token -->
  </Rules>

  <Rules AnalyzerId="Microsoft.NetFramework.CSharp.Analyzers" RuleNamespace="Microsoft.NetFramework.CSharp.Analyzers">
    <Rule Id="CA3076" Action="Error" />          <!-- Insecure XSLT script processing. -->
    <Rule Id="CA3077" Action="Error" />          <!-- Insecure Processing in API Design, XmlDocument and XmlTextReader -->
  </Rules>

  <Rules AnalyzerId="Microsoft.NetFramework.VisualBasic.Analyzers" RuleNamespace="Microsoft.NetFramework.VisualBasic.Analyzers">
    <Rule Id="CA3076" Action="Error" />          <!-- Insecure XSLT script processing. -->
    <Rule Id="CA3077" Action="Error" />          <!-- Insecure Processing in API Design, XmlDocument and XmlTextReader -->
  </Rules>
</RuleSet>
